<a href="https://colab.research.google.com/github/asheta66/Data-Mining-2/blob/main/Data_Preprocessing_Demo.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**What is Data Preprocessing?**

Data preprocessing is a crucial step in data analysis and machine learning that involves transforming raw data into a clean and structured format suitable for modeling. Raw data often contains noise, missing values, inconsistencies, or irrelevant features, which can negatively impact model performance. Data preprocessing enhances the quality of the data, making it more reliable and suitable for analysis.

**Steps in Data Preprocessing**

1.   Data Cleaning

*   Handling missing values (e.g., filling with mean, median, mode, or removing them)
*   Removing duplicate records
*   Correcting inconsistent or erroneous data

In [23]:
import pandas as pd

# Sample dataset with duplicates
data = {
    'ID': [1, 2, 3, 4, 4, 5, 6, 6],
    'Name': ['Alice', 'Bob', 'Charlie', 'David', 'David', 'Eve', 'Frank', 'Frank'],
    'Age': [25, 30, 35, 40, 40, 28, 50, 50]
}

df1 = pd.DataFrame(data)

# Display original dataset
print("Original Dataset:")
df1

Original Dataset:

   ID     Name  Age
0   1    Alice   25
1   2      Bob   30
2   3  Charlie   35
3   4    David   40
4   4    David   40
5   5      Eve   28
6   6    Frank   50
7   6    Frank   50

In [24]:
# Remove duplicate rows (keeping the first occurrence)
df_no_duplicates = df.drop_duplicates()

print("\nDataset after Removing Duplicates:")
df_no_duplicates

Dataset after Removing Duplicates:

   Feature1  Feature2
0        10       200
1        20       250
2        30       300
3        40       350
4        50       400
5        60       450
6        70       500
7        80       550
8        90       600
9       100       650

**Handling Missing Data**

Missing data is a common problem in real-world datasets and can negatively impact analysis and machine learning model performance. Handling missing data appropriately ensures data integrity and improves model accuracy.

**Deletion Method**

We remove rows or columns that contain missing values.

In [25]:
import pandas as pd

# Creating a dataset with missing values
data2 = {
    'Name': ['Alice', 'Bob', 'Charlie', 'David', 'Eve'],
    'Age': [25, 30, None, 40, 28],  # Missing Age for Charlie
    'Salary': [50000, 60000, 55000, None, 58000]  # Missing Salary for David
}

df2 = pd.DataFrame(data2)
print("Original Dataset:\n")
df2

Original Dataset:

      Name   Age   Salary
0    Alice  25.0  50000.0
1      Bob  30.0  60000.0
2  Charlie   NaN  55000.0
3    David  40.0      NaN
4      Eve  28.0  58000.0

In [26]:
# **1. Deleting Rows with Missing Values**

df2_deleted_rows = df2.dropna()
print("\n Dataset after Dropping Rows with Missing Values:\n")
df2_deleted_rows

 Dataset after Dropping Rows with Missing Values:

    Name   Age   Salary
0  Alice  25.0  50000.0
1    Bob  30.0  60000.0
4    Eve  28.0  58000.0

In [27]:
# **2. Deleting Columns with Missing Values**

df2_deleted_columns = df2.dropna(axis=1)  # Drops columns instead of rows
print("\nDataset after Dropping Columns with Missing Values:\n")
df2_deleted_columns

Dataset after Dropping Columns with Missing Values:

      Name
0    Alice
1      Bob
2  Charlie
3    David
4      Eve

**2. Filling Missing Data (Imputation)**

Fill with a specific value (fillna())

In [28]:
import pandas as pd

# Creating a dataset with missing values
data2 = {
    'Name': ['Alice', 'Bob', 'Charlie', 'David', 'Eve'],
    'Age': [25, 30, None, 40, 28],  # Missing Age for Charlie
    'Salary': [50000, 60000, 55000, None, 58000]  # Missing Salary for David
}

df2 = pd.DataFrame(data2)
print("Original Dataset:\n")
df2

Original Dataset:

      Name   Age   Salary
0    Alice  25.0  50000.0
1      Bob  30.0  60000.0
2  Charlie   NaN  55000.0
3    David  40.0      NaN
4      Eve  28.0  58000.0

In [29]:
df2.fillna(0, inplace=True)  # Replaces all missing values with 0
df2

      Name   Age   Salary
0    Alice  25.0  50000.0
1      Bob  30.0  60000.0
2  Charlie   0.0  55000.0
3    David  40.0      0.0
4      Eve  28.0  58000.0

**Fill with Mean, Median, or Mode**

In [30]:
import pandas as pd

# Creating a dataset with missing values
data = {
    'Name': ['Alice', 'Bob', 'Charlie', 'David', 'Eve'],
    'Age': [25, 30, None, 40, 28],  # Missing Age for Charlie
    'Salary': [50000, 60000, 55000, None, 58000],  # Missing Salary for David
    'City': ['New York', 'Los Angeles', None, 'Chicago', 'Houston']  # Missing City for Charlie
}

df = pd.DataFrame(data)
print("Original Dataset:\n")
df

Original Dataset:

      Name   Age   Salary         City
0    Alice  25.0  50000.0     New York
1      Bob  30.0  60000.0  Los Angeles
2  Charlie   NaN  55000.0         None
3    David  40.0      NaN      Chicago
4      Eve  28.0  58000.0      Houston

In [31]:
# **Calculating Means for Numeric Columns with Missing Values**
mean_age = df['Age'].mean()
mean_salary = df['Salary'].mean()

print("\nMean Age:", mean_age)
print("Mean Salary:", mean_salary)

Mean Age: 30.75
Mean Salary: 55750.0

In [32]:
# Filling missing values with Mean (For Numeric Columns)
df_mean = df.copy()
df_mean = df_mean.assign(
    Age=df_mean['Age'].fillna(df_mean['Age'].mean()),
    Salary=df_mean['Salary'].fillna(df_mean['Salary'].mean()),
    City=df_mean['City'].fillna(df_mean['City'].mode()[0])  # Mode for categorical column
)

print("\nDataset after Mean Imputation:\n")
df_mean

Dataset after Mean Imputation:

      Name    Age   Salary         City
0    Alice  25.00  50000.0     New York
1      Bob  30.00  60000.0  Los Angeles
2  Charlie  30.75  55000.0      Chicago
3    David  40.00  55750.0      Chicago
4      Eve  28.00  58000.0      Houston

**Median**

In [33]:
import pandas as pd

# Creating a dataset with missing values
data = {
    'Name': ['Alice', 'Bob', 'Charlie', 'David', 'Eve'],
    'Age': [25, 30, None, 40, 28],  # Missing Age for Charlie
    'Salary': [50000, 60000, 55000, None, 58000],  # Missing Salary for David
    'City': ['New York', 'Los Angeles', None, 'Chicago', 'Houston']  # Missing City for Charlie
}

df = pd.DataFrame(data)
print("Original Dataset:\n")
df

Original Dataset:

      Name   Age   Salary         City
0    Alice  25.0  50000.0     New York
1      Bob  30.0  60000.0  Los Angeles
2  Charlie   NaN  55000.0         None
3    David  40.0      NaN      Chicago
4      Eve  28.0  58000.0      Houston

In [34]:
# **Calculating Medians for Numeric Columns with Missing Values**
median_age = df['Age'].median()
median_salary = df['Salary'].median()

print("\nMedian Age:", median_age)
print("Median Salary:", median_salary)

Median Age: 29.0
Median Salary: 56500.0

In [35]:
# Creating a copy of the dataset for Median Imputation
df_median = df.copy()

# **Applying Median Imputation**
df_median['Age'] = df_median['Age'].fillna(df_median['Age'].median())
df_median['Salary'] = df_median['Salary'].fillna(df_median['Salary'].median())

# **Applying Mode Imputation for Categorical Column (City)**
df_median['City'] = df_median['City'].fillna(df_median['City'].mode()[0])

print("\nDataset after Median and Mode Imputation:\n")
df_median

Dataset after Median and Mode Imputation:

      Name   Age   Salary         City
0    Alice  25.0  50000.0     New York
1      Bob  30.0  60000.0  Los Angeles
2  Charlie  29.0  55000.0      Chicago
3    David  40.0  56500.0      Chicago
4      Eve  28.0  58000.0      Houston

**Mode**

In [36]:
import pandas as pd

# Creating a dataset with missing values
data = {
    'Name': ['Alice', 'Bob', 'Charlie', 'David', 'Eve'],
    'Age': [25, 30, None, 40, 28],  # Missing Age for Charlie
    'Salary': [50000, 60000, 55000, None, 58000],  # Missing Salary for David
    'City': ['New York', 'Los Angeles', None, 'Chicago', 'Houston']  # Missing City for Charlie
}

df = pd.DataFrame(data)
print("Original Dataset:\n")
df

Original Dataset:

      Name   Age   Salary         City
0    Alice  25.0  50000.0     New York
1      Bob  30.0  60000.0  Los Angeles
2  Charlie   NaN  55000.0         None
3    David  40.0      NaN      Chicago
4      Eve  28.0  58000.0      Houston

In [37]:
# **5. Filling Missing Values with Mode**
df_mode = df.copy()

# Assigning mode values explicitly
df_mode['Age'] = df_mode['Age'].fillna(df_mode['Age'].mode()[0])
df_mode['Salary'] = df_mode['Salary'].fillna(df_mode['Salary'].mode()[0])
df_mode['City'] = df_mode['City'].fillna(df_mode['City'].mode()[0])  # Mode for City

print("\nDataset after Mode Imputation:\n")
df_mode

Dataset after Mode Imputation:

      Name   Age   Salary         City
0    Alice  25.0  50000.0     New York
1      Bob  30.0  60000.0  Los Angeles
2  Charlie  25.0  55000.0      Chicago
3    David  40.0  50000.0      Chicago
4      Eve  28.0  58000.0      Houston

**Simplified Code**

In [38]:
import pandas as pd

# Creating a dataset with missing values
data = {
    'Name': ['Alice', 'Bob', 'Charlie', 'David', 'Eve'],
    'Age': [25, 30, None, 40, 28],  # Missing Age for Charlie
    'Salary': [50000, 60000, 55000, None, 58000],  # Missing Salary for David
    'City': ['New York', 'Los Angeles', None, 'Chicago', 'Houston']  # Missing City for Charlie
}

df = pd.DataFrame(data)
print("Original Dataset:\n")
df

Original Dataset:

      Name   Age   Salary         City
0    Alice  25.0  50000.0     New York
1      Bob  30.0  60000.0  Los Angeles
2  Charlie   NaN  55000.0         None
3    David  40.0      NaN      Chicago
4      Eve  28.0  58000.0      Houston

In [39]:
# **Filling Missing Values with Mode for selected columns**
columns_to_impute = ['Age', 'Salary', 'City']

# Use a loop to fill missing values with mode for each column
for col in columns_to_impute:
    df[col] = df[col].fillna(df[col].mode()[0])

print("\nDataset after Mode Imputation:\n")
df

Dataset after Mode Imputation:

      Name   Age   Salary         City
0    Alice  25.0  50000.0     New York
1      Bob  30.0  60000.0  Los Angeles
2  Charlie  25.0  55000.0      Chicago
3    David  40.0  50000.0      Chicago
4      Eve  28.0  58000.0      Houston

**4. Using Predictive Models**

Regression/ML-based Imputation: Predict missing values based on other features.

In [40]:
# from sklearn.impute import SimpleImputer
# imputer = SimpleImputer(strategy='mean')
# df[['Age']] = imputer.fit_transform(df[['Age']])

**How to measure:**

mean, median, mode, and range in the data

measure the variance of the data

draw the characteristics of the variance

discuss how high variance can lead to overfitting

define bias and show how high bias leads to underfitting

calculate the standard deviation of the data

In [41]:
import numpy as np
import scipy.stats as stats

data = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

# Mean
mean = np.mean(data)

# Median
median = np.median(data)

# Range
range_value = np.max(data) - np.min(data)

# Variance
variance = np.var(data)

# Standard Deviation
std_dev = np.std(data)

# Print results
print(f"Mean: {mean}")
print(f"Median: {median}")
print(f"Range: {range_value}")
print(f"Variance: {variance}")
print(f"Standard Deviation: {std_dev:5.3f}%")

Mean: 5.5
Median: 5.5
Range: 9
Variance: 8.25
Standard Deviation: 2.872%

**Data Normalization and Data Standardization**

**Normalization** scales the data into a specific range, typically [0, 1] or [-1, 1]. This is useful when the features have different units or magnitudes.

**Standardization** transforms the data to have a mean of 0 and a standard deviation of 1, which is useful when the features have different scales.

In [42]:
import numpy as np
import pandas as pd
from sklearn.preprocessing import MinMaxScaler, StandardScaler

# Generate sample data (10 data points, 2 features)
data = np.array([[10, 200],
                 [20, 250],
                 [30, 300],
                 [40, 350],
                 [50, 400],
                 [60, 450],
                 [70, 500],
                 [80, 550],
                 [90, 600],
                 [100, 650]])

# Convert to DataFrame for better visualization
df = pd.DataFrame(data, columns=['Feature1', 'Feature2'])

# Display original data
print("Original Data:")
df

Original Data:

   Feature1  Feature2
0        10       200
1        20       250
2        30       300
3        40       350
4        50       400
5        60       450
6        70       500
7        80       550
8        90       600
9       100       650

In [43]:
# --- Normalization (Min-Max Scaling) ---
scaler_minmax = MinMaxScaler()

normalized_data = scaler_minmax.fit_transform(df)

# Convert normalized data to DataFrame for better visualization
df_normalized = pd.DataFrame(normalized_data, columns=['Feature1', 'Feature2'])

# Display normalized data
print("\nNormalized Data (Min-Max Scaling):")
df_normalized

Normalized Data (Min-Max Scaling):

   Feature1  Feature2
0  0.000000  0.000000
1  0.111111  0.111111
2  0.222222  0.222222
3  0.333333  0.333333
4  0.444444  0.444444
5  0.555556  0.555556
6  0.666667  0.666667
7  0.777778  0.777778
8  0.888889  0.888889
9  1.000000  1.000000

In [44]:
# --- Standardization (Z-score Scaling) ---

scaler_standard = StandardScaler()
standardized_data = scaler_standard.fit_transform(df)

# Convert standardized data to DataFrame for better visualization
df_standardized = pd.DataFrame(standardized_data, columns=['Feature1', 'Feature2'])

# Display standardized data
print("\nStandardized Data (Z-score Scaling):")
df_standardized

Standardized Data (Z-score Scaling):

   Feature1  Feature2
0 -1.566699 -1.566699
1 -1.218544 -1.218544
2 -0.870388 -0.870388
3 -0.522233 -0.522233
4 -0.174078 -0.174078
5  0.174078  0.174078
6  0.522233  0.522233
7  0.870388  0.870388
8  1.218544  1.218544
9  1.566699  1.566699