<a href="https://colab.research.google.com/github/asheta66/Data-Mining-2/blob/main/W1Lab1_Python_Tutorial.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
## Python Basics: Colab Notebook

# --- Basic Syntax and Data Types ---

## Variables and Data Types
# Integer
a = 10
print("Integer:", a, type(a))

# Float
b = 10.5
print("Float:", b, type(b))

# String
c = "Hello, World!"
print("String:", c, type(c))

Integer: 10 <class 'int'>
Float: 10.5 <class 'float'>
String: Hello, World! <class 'str'>

In [ ]:
# Boolean
d = True
print("Boolean:", d, type(d))

## Type Conversion and Casting
x = int("5")
y = float("10.5")
z = str(100)
print(x, type(x))
print(y, type(y))
print(z, type(z))

Boolean: True <class 'bool'>
5 <class 'int'>
10.5 <class 'float'>
100 <class 'str'>

In [ ]:
# --- Operators and Expressions ---

## Arithmetic Operators
print("Addition:", 5 + 3)
print("Subtraction:", 5 - 3)
print("Multiplication:", 5 * 3)
print("Division:", 5 / 3)
print("Floor Division:", 5 // 3)
print("Modulus:", 5 % 3)
print("Exponentiation:", 5 ** 3)

Addition: 8
Subtraction: 2
Multiplication: 15
Division: 1.6666666666666667
Floor Division: 1
Modulus: 2
Exponentiation: 125

In [ ]:
## Comparison Operators
print("Equal:", 5 == 3)
print("Not Equal:", 5 != 3)
print("Greater than:", 5 > 3)
print("Less than:", 5 < 3)

Equal: False
Not Equal: True
Greater than: True
Less than: False

In [ ]:
## Logical Operators
print("AND:", True and False)
print("OR:", True or False)
print("NOT:", not True)

AND: False
OR: True
NOT: False

In [ ]:
## Assignment Operators
x = 5
x += 3
print("+= Operator:", x)
x -= 2
print("-= Operator:", x)

## Operator Precedence
result = 5 + 2 * 3
print("Operator Precedence Result:", result)

+= Operator: 8
-= Operator: 6
Operator Precedence Result: 11

In [ ]:
# --- Control Flow ---

## If Statements
num = 10
if num > 0:
    print("Positive number")

Positive number

In [ ]:
## If-Elif-Else
num = 0
if num > 0:
    print("Positive")
elif num == 0:
    print("Zero")
else:
    print("Negative")

Zero

In [ ]:
## Nested Conditions
num = 15
if num > 10:
    if num < 20:
        print("Number is between 10 and 20")

Number is between 10 and 20

In [ ]:
## The pass Statement
x = 100
if x > 50:
    pass  # Placeholder for future code

In [ ]:
## For Loops
print("For Loop Example:")
for i in range(5):
    print(i)

For Loop Example:
0
1
2
3
4

In [ ]:
## While Loops
print("While Loop Example:")
count = 0
while count < 5:
    print(count)
    count += 1

While Loop Example:
0
1
2
3
4

In [ ]:
## Break, Continue, Else in Loops
print("Break Example:")
for i in range(10):
    if i == 5:
        break
    print(i)

Break Example:
0
1
2
3
4

In [ ]:
print("Continue Example:")
for i in range(10):
    if i == 5:
        continue
    print(i)

Continue Example:
0
1
2
3
4
6
7
8
9

In [ ]:
print("Else in Loops:")
for i in range(5):
    print(i)
else:
    print("Loop finished")

Else in Loops:
0
1
2
3
4
Loop finished

In [ ]:
## Looping through Lists and Strings
print("Looping through a list:")
fruits = ["apple", "banana", "cherry"]
for fruit in fruits:
    print(fruit)

Looping through a list:
apple
banana
cherry

In [ ]:
print("Looping through a string:")
for char in "Python":
    print(char)

Looping through a string:
P
y
t
h
o
n

In [ ]:
def example_function():
    print("Hello, this is my first function.")

example_function()

Hello, this is my first function.

In [ ]:
## Function Arguments
def add(a, b):
    return a + b

print("Sum:", add(5, 3))

Sum: 8

In [ ]:
## Positional, Keyword, and Default Arguments
def describe_pet(pet_name, animal_type="dog"):
    print(f"I have a {animal_type} named {pet_name}.")

describe_pet("Buddy")
describe_pet(pet_name="Kitty", animal_type="cat")

I have a dog named Buddy.
I have a cat named Kitty.

In [ ]:
## Return Values
def square(num):
    return num * num

print("Square:", square(4))

Square: 16

In [ ]:
## Multiple Return Values
def get_coordinates():
    return 10, 20

x, y = get_coordinates()
print("Coordinates:", x, y)

Coordinates: 10 20

In [ ]:
## Lambda Functions
square = lambda x: x ** 2
print("Lambda Square:", square(5))

Lambda Square: 25